asgiref==3.7.2
blessed==1.20.0
bpython==0.24
certifi==2023.7.22
charset-normalizer==3.3.0
coverage==7.3.2
curtsies==0.4.2
cwcwidth==0.1.8
Django==4.2.6
greenlet==3.0.0
idna==3.4
mysql-connector-python==8.1.0
protobuf==4.21.12
Pygments==2.16.1
pyxdg==0.28
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
urllib3==2.0.6
wcwidth==0.2.8
