{% extends "subjects/layout.html" %}
{% block title %}Subjects{% endblock %}
{% block body %}
    <h1 class="mt-3">My Quota</h1>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-primary" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
    {% endif %}
    <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">Subject</th>
            <th scope="col">ID</th>
            <th scope="col">Term</th>
            <th scope="col">Available</th>
            <th scope="col">Stauts</th>
          </tr>
        </thead>
        <tbody>
    {% for reg in reg_subjects %}
        {% with subject=reg.Subject %}
        <tr class="text-center">
            <form action="users/unregisted" method="post">
                {% csrf_token %}
                <td name="subjectName">{{subject.subjectName}}</th>
                <td name="subjectID">{{ subject.subjectID }}</td>
                <td>{{ subject.term }}/{{ subject.year }}</td>
                <td name="available">{{ subject.remaining_class }}/{{ subject.max_class }}</td>
                <td ><a href="unregisted/{{subject.subjectID}}" class="btn btn-danger" onclick="return confirm('Comfirm Unregister or not.')">Cancel</a></td>
            </form>
        </tr>
        {% endwith %}
    {% empty %}
        <p></p>
    {% endfor %}
{% endblock %}